<input type="text" (input)="changeServerStatus($event)">
<input type="text" [(ngModel)]="serverCreatingStatus">
<button class="btn btn-primary" [disabled]="getAllowNewServer()" (click)="onCreateServer()">create server</button>
<hr>
<p> {{ getServerCreatingStatus() }}</p>
<app-server></app-server>
<hr>
<app-server></app-server>
